{{ if eq .Site.Language.Lang "fa"}}
<blockquote>
    <p>اگر پیشنهادی برای اصلاح پست دارید، می&zwnj;تونید از طریق دکمه‌ی &quot;پیشنهاد اصلاح متن&quot; وارد ریپازیتوری وبلاگ در <a href="https://github.com" target="_blank" rel="noopener noreferrer">github</a> بشید و تغییرات مورد نظرتون رو پیشنهاد بدید.</p>
</blockquote>
{{ end }} 

{{ if eq .Site.Language.Lang "en"}}
<blockquote>
    <p>If you have a suggestion to modify the post, you can enter the blog repository on <a href="https://github.com" target="_blank" rel="noopener noreferrer">github</a> through the "Suggest Changes" button and suggest the changes you want.</p>
</blockquote>
{{ end }}