{{ if eq .Site.Language.Lang "fa"}}
    <small>
        این وبلاگ برای مدیریت نظرات از <a href="https://giscus.app" target="_blank" rel="noopener noreferrer">giscus</a> استفاده می‌کنه، بنابراین برای ارسال نظر باید وارد حساب <a href="https://github.com" target="_blank" rel="noopener noreferrer">github</a> بشید. برای به اشتراک‌گذاری می‌تونید از دکمه‌هایی که در انتهای پست قرار گرفته استفاده کنید.
    </small>
{{ end }} 

{{ if eq .Site.Language.Lang "en"}}
    <small>
        This blog uses <a href="https://giscus.app" target="_blank" rel="noopener noreferrer">giscus</a> to manage comments, so you should log in to your <a href="https://github.com" target="_blank" rel="noopener noreferrer">github</a> account to post comments. You can use the buttons at the bottom of the post to share.
    </small>
{{ end }}

<div class="giscus">
    <script>
        function getGiscusTheme() {
            const preferredTheme = localStorage.getItem("pref-theme");
            const giscusTheme = preferredTheme == null || preferredTheme == "dark" ? "dark" : "light";
            return giscusTheme;
        }

        function setGiscusTheme() {
            function sendMessage(message) {
                const iframe = document.querySelector("iframe.giscus-frame");
                if (!iframe) return;
                iframe.contentWindow.postMessage({ giscus: message }, "https://giscus.app");
            }
            sendMessage({
                setConfig: {
                    theme: getGiscusTheme() == "dark" ? "dark" : "light",
                },
            });
        }

        const attrs = {
            src: "https://giscus.app/client.js",
            "data-repo": "hialisabet/blog",
            "data-repo-id": "R_kgDOKHwkEw",
            "data-category": "General",
            "data-category-id": "DIC_kwDOKHwkE84CZBAj",
            "data-mapping": "pathname",
            "data-strict": "0",
            "data-reactions-enabled": "1",
            "data-emit-metadata": "0",
            "data-input-position": "bottom",
            //"data-theme": "preferred_color_scheme",
            "data-theme": getGiscusTheme(),
            "data-lang": "en",
            crossorigin: "anonymous",
            async: "",
        };

        const giscusScript = document.createElement("script");
        Object.entries(attrs).forEach(([key, value]) => giscusScript.setAttribute(key, value));
        document.body.appendChild(giscusScript);

        const toggle = document.querySelector("#theme-toggle");
        if (toggle) {
            toggle.addEventListener("click", setGiscusTheme);
        }
    </script>

    <noscript>Please enable JavaScript to view the comments</noscript>
</div>
